* {
    /* {# replace_color(theme.colors.bg) #} */
    background:     #282A2E;
    background-alt: #262626;
    /* {# replace_color(theme.colors.fg) #} */
    foreground:     #DDDDDD;
    selected:       #323c41;
    /* {# replace_color(theme.colors.fr) #} */
    active:         #F0C674;
    urgent:         #E06B74;
}
